<h1>The App View</h1>

<ul class="nav">
    <li>
        <a href="#viewA">ViewA</a>
        <a href="#viewB">ViewB</a>
        <a href="#viewC">ViewC</a>
    </li>
</ul>

Page content
<hr/>

<div id="content">



</div>
